#start {
  border-radius: 15px;
  border: solid white;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px black; }

#start:hover {
  background-color: rgba(0, 0, 0, 0.5); }

#start > span {
  font-family: 'Lato', sans-serif;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px 3px black; }

.start-bar {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  /*vertical-align: middle;*/
  /*background-color: green;*/
  background-image: url("/sunset3.JPG");
  background-position: 0 -380px;
  background-size: 100%;
  margin-top: 15px; }
